{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "linebreak-style": ["error", "windows"]
  },
  "extends": ["eslint:recommended", "google"]
}